<header>
    <div class="flexContainer">
        <div id="logoContainer">
            <a href="/">
                <img id="logo" src="/images/logo.svg">
                <h1>Something Borrowed</h1>
            </a>
        </div>

        <div id="accountControls">
            {{#if loggedIn}}<button onclick="signOut();">Sign Out</button>
            {{else}}<button data-toggle="modal" data-target="#signInModal">Sign In</button>
            {{/if}}
        </div>
    </div>
    <nav class="mainMenu">
        <ul>
            <li class="currentPage"><a href="/">Home</a></li>
            {{#if loggedIn}}<li><a href="/profile">Profile</a></li>{{/if}}
            <li><a href="/items/all">Items</a></li>
        </ul>
    </nav>
    {{>search}}
</header>