<div id="photoBarContainer">
    <img src="https://raw.githubusercontent.com/Hollyw00d/Project-2/master/public/images/hand-shake-1-pixabay.jpg">
    <div id="overlay"><h1>Save Money. Borrow From Friends.</h1></div>
</div>