<div class="modal fade" id="requestModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <form>
                    <div class="formGroup">
                        <label for="duration">Desired Duration (Required): </label>
                        <input type="text" id="duration" class="formInput" placeholder="Duration">
                    </div>
                    <div class="formGroup">
                        <label for="notes">Message to Owner: </label>
                        <input type="text" id="notes" class="formInput" placeholder="Include suggested exchange location and time">
                    </div>
                    <button id="submitRequest" data-dismiss="modal">Submit Request</button>
                </form>
            </div>
        </div>
    </div>
</div>