<div class="modal fade" id="requestModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="duration">Desired Duration (Required): </label>
                        <input type="text" id="duration" class="form-control" placeholder="Duration">
                    </div>
                    <div class="form-group">
                        <label for="notes">Message to Owner: </label>
                        <textarea id="notes" class="form-control" placeholder="Include suggested exchange location and time"></textarea>
                    </div>
                    <button id="submitRequest" class="orange-btn curvedCorners" data-dismiss="modal">Submit Request</button>
                </form>
            </div>
        </div>
    </div>
</div>