<div id="searchContainer">
    <form id="searchForm">
        <input type="text" id="searchInput" placeholder="Enter an item to borrow">
        <button id="search">Item Search</button>
    </form>
</div>
