<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <title>{{metaTags.title}}</title>
  <meta name="description" content="{{metaTags.description}}">
  <meta name="keywords" content="{{metaTags.keywords}}">
  <meta name="google-signin-client_id" content="286476703675-e3k83h6l2h8ohlt381tndsp1ae23k1ic.apps.googleusercontent.com">
  {{!-- <script src="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.js"></script>
  <link type="text/css" rel="stylesheet" href="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.css"/>  --}}
</head>

<body>
    {{{body}}}
</body>

</html>