{{>header}}
<div class="container">
  <div class="jumbotron mt-4">
    <h1 class="display-4 text-center">404: We're sorry but that page doesn't exist!
    </h1>
    <a href="/">â† Back To Home</a>
  </div>
</div>
{{>footer}}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script type="text/javascript" src="/js/auth.js"></script>