{{>header}}
<main>
    <h2>About Us</h2>
    <p>
        <span class="bold">Something Borrowed</span>  helps facilitate friend-to-friend lending to help save you money and keep your shelves 
        clutter free! Why buy that new book or movie when you could borrow it from a friend? Need a tool for a 
        project you know you'll never use again? Why not see if someone in your friend circle has one you could use?
    </p>
    <br>
    <p>These are the sorts of situations <span class="bold">Something Borrowed</span> is perfect for! Create a free account, make or join a group with your 
        friends and add the items you're willing to lend out. You will be able to see all the items your group members
        have added and request to borrow from them.</p>
</main>
{{>footer}}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script type="text/javascript" src="/js/auth.js"></script>