{{>header}}
<h1>New Profile</h1>
<form>
    <div class="formGroup">
        <label for="userName">Name: </label>
        <input type="text" id="userName" class="formInput" placeholder="Name" value="{{user.userName}}">
    </div>
    <div class="formGroup">
        <label for="userEmail">Email: </label>
        <input type="text" id="userEmail" class="formInput" placeholder="Email" value="{{user.userEmail}}">
    </div>
    <div class="formGroup">
        <label for="userImage">Profile Image URL: </label>
        <input type="text" id="userImage" class="formInput" placeholder="Profile Image URL" value="{{user.userImage}}">
    </div>
    <button id="createProfile">Create</button>
</form>
{{>footer}}

<script src="https://apis.google.com/js/platform.js" async defer></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/auth.js"></script>
<script type="text/javascript" src="/js/search.js"></script>
<script type="text/javascript" src="/js/newProfile.js"></script>