<div>This is a user's profile</div>
<a href="#" onclick="signOut();">Sign out</a>

<script src="https://apis.google.com/js/platform.js" async defer></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/auth.js"></script>
