{{>header}}
<main>
    <div id="resultsHolder">
        {{#each searchResults}}
        <div class="row">
            <div class="col-4">
                <img class="searchedItem" src="{{this.itemImage}}">
            </div>
            <div class="col-8">
                <h2>{{this.itemName}}</h2>
                <p>{{this.itemDescription}}</p>
            </div>
        </div>
        {{/each}}
    </div>
    <div id="categorySearch"></div>

    <h3>View by Category Instead</h3>
    {{>categorySelect}}
    {{>requestModal}}
</main>
{{>footer}}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script type="text/javascript" src="/js/auth.js"></script>
<script type="text/javascript" src="/js/itemRequests.js"></script>