{{>header}}
<main>
    <h2>Terms</h2>
    <p class="text-center">This site has been created as part of the UW Coding Bootcamp. This is a minimum viable product and we make no guarantees to our users at this point.</p>
</main>
{{>footer}}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script type="text/javascript" src="/js/auth.js"></script>