.container {
    margin:auto;
    max-width: 960px;
}
.btn {
    margin-top: 20px;
}

.fa-bars {
    font-size: 72px;
}
#handshake {
    background-image: url("../images/hand-shake-1-pixabay-cropped.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    height: 500px;
}
#handshake > h1 {
    margin-top: 200px;
}


.masthead {
    min-height: 500px;
    background-image: url('../../public/images/hand-shake-1-pixabay-cropped.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

 #item{
      height: 150px;
  }

.blue-background,
.blue-background:hover {
      background-color: #004c56;
      border: 1px solid #004c56;
  }

.blue-border,
.blue-border:hover {
      border: 1px solid #004c56;
  }

a,
a:hover{
      color: #004c56;
      text-decoration: none;
  }

.orange-text{
      color: #f4841a;
  }

.orange-btn,
.orange-btn:hover {
      background-color: #f4841a;
      border: 1px solid #f4841a;
  }

.card{
    background-color: #b0b5b5;
}