.container {
    margin:auto;
    max-width: 960px;
}
.btn {
    margin-top: 20px;
}
.fa-bars {
    font-size: 72px;
}
#handshake {
    background-image: url("../images/hand-shake-1-pixabay-cropped.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    height: 500px;
}
#handshake > h1 {
    margin-top: 200px;
}


.masthead {
    min-height: 500px;
    background-image: url('../../public/images/hand-shake-1-pixabay-cropped.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }