.list-group-item {
  line-height: 2.5;
}
#map {
  height: 100%;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#photoBarContainer img {
  width: 100%;
}